@page "/table-examplea"

@using Flueris.Components

<h3>Table</h3>

<Table DataList="@people" TableStriped="true" HeaderColorScheme="dark">
    <TableColumns>
        <Column Field="@(p => p.Id)" />
        <Column Field="@(p => p.Name)" />
        <Column Field="@(p => p.Phone)" />
        <Column Field="@(p => p.Address)" />
        <Column Title="Actions" Field="@(s => s.Id)" TextAlign="center">
            <FieldTemplate Context="context">
                <Button Size="sm" Bordered=false Icon="fas fa-pencil fa-xs" Label="Edit" OnClick="@(() => RowClicked(@context.Item1, @context.Item2))" />
            </FieldTemplate>
        </Column>
    </TableColumns>
</Table>

<Modal @ref=@ma Title="Hello World" ColorScheme="secondary" Size="lg" Dismissible="true">
    <Body>
        <form class="p-3">
            <div class="mb-3">
                <Input InputMode="numeric" Label="Id" RequiredIndicator=true @bind-Value=@id MaxLength="20" />
            </div>
            <div class="mb-3">
                <Input InputMode="text" Label="Name" RequiredIndicator=true @bind-Value=@name MaxLength="20" />
            </div>
        </form>
    </Body>
    <Footer>
        <div class="modal-footer">
            <Button Label="Close" ColorScheme="primary" OnClick="Close" />
            <Button Label="Save" ColorScheme="primary" />
        </div>
    </Footer>
</Modal>

@code {
    private Modal ma;
    private Message? msg;

    private int id;
    private string name;
    private record People(int Id, string Name, string Phone, string Address, string? Dummy = default);
    private IQueryable<People> people = new[]
    {
        new People(1, "Archer MacRanald", "135-710-4064", "5108 Southridge Way,	Crownhardt"),
        new People(2, "Kimberli McGuire", "418-492-7202", "8606 Briar Crest Avenue,	Victoria"),
        new People(3, "Giorgio Tizzard", "699-730-1374", "10 Susan Court,	Cottonwood"),
        new People(4, "Ursola Cashin", "507-840-7807", "7056 Graceland Parkway,	Sherman"),
        new People(5, "Niki Backsal", "771-155-1087", "4726 East Drive,	Cherokee"),
    }.AsQueryable();

    private void RowClicked(int row, People people)
    {
        id = people.Id;
        name = people.Name;
        ma.Show();
    }

    private void Close()
    {
        ma.Close();
    }
}
